<div class="card shadow-lg mt-5">
    <div class="card-header text-center">
        <h1 class="display-6 fw-bold">
            TODO LIST
        </h1>
    </div>
    <div class="card-body p-4">
        <div class="input-group">
            <input class="form-control" placeholder="What do you need to do?" type="text" #registerTask/>
            <button class="btn" (click)="onClickEvent(registerTask)">
                <i class="fa-solid fa-circle-plus fa-xl"></i>
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of allTask">
                <span>
                    <i class="text-success" [ngClass]="item.isComplete ? 'fa-solid fa-circle-check' : 'fa-regular fa-circle'" (click)="onStatusChange(item.id, !item.isComplete)"></i>
                    {{ item.title }}
                    <span class="text-secondary float-end" (click)="onRemoveTask(item.id)">
                        <i class="fa-trash-can fa-solid"></i>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>
