/* You can add global styles to this file, and also import other style files */
.input-group, .list-group-item {
    margin-bottom: 10px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;

    & span {
        cursor: pointer;
    }
}

i.fa-circle-plus {
    border: none;
    &:hover {
        color: green;
    }
}

i.fa-trash-can:hover {
    color: red;
}
